* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --main-color: #7453fc;
    --section-padding: 120px;
    --secondary-color: #282b2f;
}
::selection {
    background-color: #8e72ff;
}
body {
    font-family: 'roboto';
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: #282b2f;
}
::-webkit-scrollbar-thumb {
    background-color: #7453fc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #481aff;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Start Header */
header {
    position: relative;
}
header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    -ms-border-radius: 75px;
    -o-border-radius: 75px;
    position: absolute;
    top: 30px;
    left: 50%;
    translate: -50%;
    z-index: 5;
    background-color: white;
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    top: 0;
    position: fixed;
}
header .container .main-nav .links {
    display: flex;
}
header .container .main-nav .links li {
    margin-right: 5px;
}
header .container .main-nav .links li.active a {
    background-color: var(--main-color);
    color: white;
}
header .container .main-nav .links li a {
    display: block;
    padding: 15px 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    font-weight: 500;
}
header .container .main-nav .links li:hover a {
    background-color: var(--main-color);
    color: white;
}
header .container .main-nav .icon {
    color: var(--main-color);
}
@media (min-width: 992px) {
    header .container .main-nav .icon {
        display: none;
    }
}
@media (max-width: 991px) {
    header .container img {
        width: 150px;
    }
    header .container .main-nav .icon {
        font-size: 25px;
    }
    header .container .main-nav .links {
        display: none;
    }
    header .container .main-nav:hover .links {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    top: 78.78px;
    width: 80%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    }
    header .container .main-nav:hover .links::after {
        content: '';
        position: absolute;
        border: solid 50px;
        border-color: transparent transparent var(--main-color);
        right: -50px;
        top: -100px;
    }
    header .container .main-nav:hover .links li.active a {
        color: var(--main-color);
    }
    header .container .main-nav:hover .links li a {
        background-color: white;
        color: black;
        text-align: center;
        border-bottom: 1px solid #f1f1f1;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    header .container .main-nav:hover .links li a:hover {
        color: var(--main-color);
    }
}
/* End Header */
/* Start Landing */
.landing {
    background-image: url('../images/heading-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 120px;
}
.landing .container {
    text-align: center;
    color: white;
}
.landing .container .text h6 {
    margin-bottom: 15px;
    font-size: 20px;
}
@media (max-width: 767px) {
    .landing .container .text h6 {
        font-size: 17px;
    }
}
.landing .container .text h2 {
    font-size: 50px;
}
@media (max-width: 767px) {
    .landing .container .text h2 {
        font-size: 30px;
    }
}
.landing .container .text p a {
    color: var(--main-color);
}
.landing .container .buttons {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.landing .container .buttons button {
    border: 1px solid var(--main-color);
    outline: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    position: relative;
    margin-top: 10px;
}
.landing .container .buttons button:first-child {
    margin-right: 25px;
    background-color: var(--main-color);
}
.landing .container .buttons button:first-child:hover {
    background-color: white;
}
.landing .container .buttons button:first-child:hover a {
    color: var(--main-color);
}
.landing .container .buttons button a {
    color: white;
    display: block;
    padding: 13px 20px;
}
.landing .container .buttons button:last-child {
    margin-right: 10px;
    background-color: transparent;
}
.landing .container .buttons button:last-child:hover {
    background-color: var(--main-color);
}
.landing .container .buttons button::after {
    content: '';
    width: 70%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
}
@media (max-width: 379px) {
    .landing .container .buttons {
        flex-direction: column;
    }
    .landing .container .buttons button:first-child {
        margin: 0 10px 0 0;
    }
}
/* End Landing */ 
/* Start Section2 */
.section2 {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url('../images/dark-bg.jpg');
}
.section2 .container .title {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 80px;
    position: relative;
}
.section2 .container .title::before {
    content: '';
    background-color: var(--main-color);
    width: 120px;
    height: 2px;
    position: absolute;
    left: 51%;
    translate: -50%;
    top: -30px;
}
.section2 .container .title span {
    color: var(--main-color);
}
.section2 .container .row {
    display: flex;
    align-items: center;
}
@media (max-width: 1199px) {
    .section2 .container .row {
        flex-direction: column;
        text-align: center;
    }
}
.section2 .container .row .img {
    padding-right: 20px;
    text-align: center;
}
.section2 .container .row .img img {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
@media (max-width: 1199px) {
    .section2 .container .row .img {
        padding-right: 0;
        margin-bottom: 25px;
    }
    .section2 .container .row .img img {
        max-width: 100%;
    }
}
.section2 .container .row .right-side {
    padding-left: 20px;
    color: white;
}
@media (max-width: 1199px) {
    .section2 .container .row .right-side {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.section2 .container .row .right-side h4 {
    margin-bottom: 25px;
    font-size: 20px;
    color: white;
}
.section2 .container .row .right-side .prof {
    display: flex;
    margin-bottom: 25px;
}
.section2 .container .row .right-side .prof .image img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 15px;
}
.section2 .container .row .right-side .prof p {
    line-height: 25px;
    color: white;
    font-size: 15px;
}
.section2 .container .row .right-side .prof p + p {
    color: var(--main-color);
    font-weight: 700;
}
.section2 .container .row .right-side > p {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 30px;
}
.section2 .container .row .right-side .foot {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.section2 .container .row .right-side .foot .col {
    font-size: 15px;
    line-height: 35px;
}
.section2 .container .row .right-side .foot .col strong {
    display: block;
    font-size: 20px;
    color: var(--main-color);
}
.section2 .container .row .right-side .foot .col em {
    font-style: normal;
    color: #afafaf;
}
@media (max-width: 550px) {
    .section2 .container .row .right-side .foot {
        flex-direction: column;
        align-items: center;
    }
    .section2 .container .row .right-side .foot .col {
        margin-bottom: 20px;
    }
}
.section2 .container .row .right-side form {
    width: 100%;
    display: flex;
    margin-top: 40px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.section2 .container .row .right-side form p {
    color: #afafaf;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}
.section2 .container .row .right-side form input {
    outline: none;
    border: 1px solid var(--main-color);
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 15px 25px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin-left: 20px;
    width: 110px;
    margin-top: 10px;
}
.section2 .container .row .right-side form input::placeholder {
    color: white;
}
.section2 .container .row .right-side form input::-moz-placeholder {
    color: white;
}
.section2 .container .row .right-side form input::-webkit-input-placeholder {
    color: white;
}
.section2 .container .row .right-side form button {
    margin-top: 10px;
    outline: none;
    background-color: var(--main-color);
    padding: 15px 25px;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
}
.section2 .container .row .right-side form button:hover {
    background-color: white;
    color: var(--main-color);
}
.section2 .container .row .right-side form button::before {
    content: '';
    width: 65%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    background-color: white;
}
/* End Section2 */
/* Start Section3 */
.section3 {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.section3 .row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.section3 .row-1 h4 {
    margin-top: 20px;
    color: white;
    background-color: var(--main-color);
    padding: 10px 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-size: 20px;
}
.section3 .row-1 select {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 13px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 500;
}
.section3 .row-1 select option {
    background-color: #282b2f;
}
.section3 .row-1 select:focus {
    box-shadow: 0 0 5px 5px var(--main-color);
}
.section3 .row-2 {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 35px;
}
@media (max-width: 1199px) {
    .section3 .row-2 {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}
@media (max-width: 767px) {
    .section3 .row-2 {
        grid-template-columns: repeat(1, minmax(200px, 500px));
        justify-content: center;
    }
}
.section3 .row-2 .box {
    background-color: var(--secondary-color);
    border: 1px solid #404245;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    display: grid;
    grid-template-columns: 150px minmax(100px, 1fr);
    color: white;
}
.section3 .row-2 .box .img {
    height: 100%;
}
.section3 .row-2 .box .img img {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 100%;
    height: 100%;
}
.section3 .row-2 .box .text {
    padding: 30px;
}
.section3 .row-2 .box .text .text-1 {
    border-bottom: 1px solid #404245;
    padding-bottom: 25px;
}
.section3 .row-2 .box .text .text-1 h4 {
    font-size: 20px;
}
.section3 .row-2 .box .text .text-1 a {
    font-size: 15px;
    color: var(--main-color);
    line-height: 1.5;
}
.section3 .row-2 .box .text .text-2 {
    padding-top: 25px;
}
.section3 .row-2 .box .text .text-2 h6 {
    font-size: 15px;
    margin-bottom: 10px;
}
.section3 .row-2 .box .text .text-2 h6 strong {
    font-size: 18px;
    color: var(--main-color);
}
.section3 .row-2 .box .text .text-2 span {
    font-size: 15px;
    color: var(--main-color);
    line-height: 1.5;
}
/* End Section3 */
/* Strat Section 4 */
.section4 {
    background-image: url('../images/main-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.section4 .div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.section4 .div .title {
    color: white;
    position: relative;
    font-size: 30px;
    margin-bottom: 50px;
}
.section4 .div .title::before {
    content: '';
    background-color: white;
    width: 120px;
    height: 2px;
    position: absolute;
    left: 0;
    top: -30px;
}
.section4 .div button {
    padding: 16px 30px;
    outline: none;
    border: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    font-weight: 500;
    background-color: var(--main-color);
    position: relative;
    margin-bottom: 50px;
}
.section4 .div button::after {
    content: '';
    width: 80%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    background-color: white;
}
.section4 .div button:hover {
    background-color: white;
    color: var(--main-color);
}
@media (max-width: 991px) {
    .section4 .div {
        flex-direction: column;
    }
    .section4 .div .title::before {
        left: 50%;
        translate: -50%;
    }
}
.section4 .box-con {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 30px;
}
@media (max-width: 991px) {
    .section4 .box-con {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}
.section4 .box-con .box:not(:last-child) {
    border-right: 1px solid rgba(255,255,255,0.2);
}
.section4 .box-con .box {
    color: white;
    margin-top: 30px;
    position: relative;
}
.section4 .box-con .box > h4 {
    position: absolute;
    right: -4px;
    top: -30px;
}
.section4 .box-con .box .img {
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section4 .box-con .box .text h4 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.section4 .box-con .box .text p {
    margin-right: 30px;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
}
.section4 .box-con .box .text p span {
    color: #3CF;
}
@media (max-width: 991px) {
    .section4 .box-con .box .img {
        margin: auto;
    }
    .section4 .box-con .box .text p {
        text-align: center;
    }
    .section4 .box-con .box .text h4 {
        text-align: center;
    }
    .section4 .box-con .box:not(:last-child) {
        border-right: none
    }
    .section4 .box-con .box > h4 {
        display: none;
    }
}
/* End section4 */
/* Start Footer */
footer {
    background-image: linear-gradient(
        132deg,
        rgba(125,90,254,1) 25%,
        rgba(160,84,244,1) 100%
    );
    padding: 25px 0;
}
footer p {
    text-align: center;
    color: white;
    font-size: 15px;
    line-height: 30px;
}
/* End Footer */